.corpo {
    width: 940px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(91, 133, 211);
    margin: 0 auto;
}

.corpo h1, h2  {
    color: #09498a;
}

.titulo-pagina {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #09498a;
}

.descricao-pagina {
    text-align: justify;
    font-family: cursive;
    color: black;
    margin-bottom: 20px;
    font-size: 18px;
}
 
.container {
    border-top: 1px solid black;
    margin: 10px 0;
}

/* cursos */

.titulo-cabecalho-cursos {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: aliceblue;
    border-bottom: 1px solid black;
}

.tabela-cursos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}

.tabela-cursos-th th {
    font-size: 20px;
    font-weight: bold;
    color: #470864;
    border-bottom: 1px solid #470864;
}

.tabela-cursos-tr td {
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid rgb(91, 103, 7);
}

.tabela-cursos-tr td:nth-child(2) {
    text-align: left;
}

.tabela-cursos-tr tr:hover {
    background-color: #ddd;
    color: #470864;
}

/* tabela pagina experiencias */
.tabela-experiencias {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    color: rgb(148, 69, 13);
}

.tabela-experiencias-th th {
    font-size: 20px;
    font-weight: bold;
    color: #470864;
    border-bottom: 1px solid #470864;
    padding: 10px;
}

.tabela-experiencias-tr td {
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid rgb(91, 103, 7);
}

.tabela-experiencias-tr td ul {
    margin-inline-start: 30px;
    text-align: left;
    font-size: 0.8em;
}

.tabela-experiencias-tr tr:hover {
    background-color: #ddd;
    color: #470864;
    font-style: italic;
}

/* escolaridade.html */
.escolaridade {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #470864;
    width: 70%;
    margin: 0 auto;
}

.escolaridade ol {
    margin: 10px;
}

.escolaridade li {  
    margin: 10px 0;
}

.escolaridade ul {
    margin-bottom: 20px;
}

.escolaridade ul li {
    margin-left: 20px;
}

.ensino {
    color:#8c18c6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5em;
}

/* apresentacao.html */
.apresentacao {
    background-color: #f0f0f0;
    color: #470864;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.apresentacao p {
    margin-top: 10px;
    padding: 10px 0;
    width: 80%;
    margin: auto;
}